NODE_ENV=development
PORT=4000

JWT_SECRET=""
JWT_EXPIRES_IN="90d"

SALT_ROUNDS=10

SUPER_ADMIN_EMAIL=""
SUPER_ADMIN_PASSWORD=""

DATABASE_URL="postgresql://postgres@localhost:5432/restrohq"

AWS_ACCESS_KEY_ID=AKIAXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_REGION=us-east-1
AWS_BUCKET_NAME=restaurant-app-uploads-prod
